<h1><%= @gist %></h1>

<div id="tags">
  <h3>Tags:</h3>
  <div id="new-tag-form">
    <input id="tag-box" type="text" placeholder="Add or create tags here"></input>
  </div>
</div>

<p><%= render @gist.files %></p>
<%= link_to "All my gists", gists_path %>


<script type="text/javascript">
  $(function(){
    /////////////////////// Favorite/Unfavorite
    var favoriteButton =
      $('<%= button_to "Favorite", gist_favorite_path(@gist), remote: true %>');
    var unfavoriteButton =
      $('<%= button_to "Unfavorite", gist_favorite_path(@gist), method: :delete, remote: true %>');

    favoriteButton.appendTo("body");
    unfavoriteButton.appendTo("body");

    <% if current_user.favorited?(@gist) %>
      favoriteButton.hide();
    <% else %>
      unfavoriteButton.hide();
    <% end %>

    $('form.button_to').on('ajax:success', function () {
      $('form.button_to').toggle();
    });


    ////////////////////// Tagging
    Gist.gist_id = <%= @gist.id %>
    Gist.getTagsForGist(function (tags) {
        Gist.buildTagList(tags);
    });

    $('input#tag-box').keyup(Gist.tagBoxHandler.bind(Gist))
                      .focus(Gist.showDropdown.bind(Gist))
                      .blur(function () {
                        setTimeout(Gist.hideDropdown.bind(Gist), 200);
                      });

  });

</script>